*{
  box-sizing: border-box;
}
.header{
  background-color:lightgray;
  text-align: center;
  padding:20px;
}
.navbar{
  overflow:hidden;
  background-color:#333;
}
.navbar a{
  text-decoration: none;
  color:white;
  padding: 14px 16px;
  text-align:center;
  display:block;
  float:left;
}
.navbar a:hover{
  background-color:green;
  color:black;
}
body{
  counter-reset: section;
  margin:0;
}
h2:before{
  counter-increment: section;
  content: "Section " counter(section) ": "
}
h2{
  counter-reset: subsection;
}
h3:before{
  counter-increment:subsection;
  content: "Section " counter(section)"." counter(subsection) ": "
}